* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}
.container {
  max-width: 80vw;
  margin: 0 auto;
  row-gap: 12px;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h1 {
  color: #333;
  font-size: 16px;
  margin-top: 0.5rem;
}
p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}
span.email {
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
span.otp-code {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}
